body {
	margin: 0px;
	font-family: Arial, sans-serif;
}

#mainContainer {
	width: 500px;
	height: 450px;
	overflow: hidden;
	/*background-color: #f0f8ff;*/
}


.button_green {
	width: 100px;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

.green_link {
	color: #00bf79;
}

.header {
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #e4dee7;
	background-color: #000;
}

.header .title {
	font-size: 20px;
	line-height: 52px;
	text-align: center;
	color: #fff;
}

.header #scriptName {
	font-size: 20px;
	height: 52px;
	outline: none;
	line-height: 50px;
	width: 250px;
	text-align: center;
	border: none;
	background: none;
	color: #fff;
}

.header > #addScript {
	background-image: url(/images/plus.svg);
	cursor: pointer;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	position: absolute;
	right: 16px;
	top: 15px;
	opacity: 1;

	transition: opacity 0.15s 0s ease;
}

.header > #addScript:hover {
	opacity: 0.6;
}

.header #addingScriptClose {
	background-image: url(/images/close.svg);
	cursor: pointer;
	float: right;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	position: absolute;
	right: 15px;
	top: 14px;
	opacity: 1;

	transition: opacity 0.15s 0s ease;
}

.header > #addingScriptClose:hover {
	opacity: 0.6;
}

.header #addingScriptSave {
	background-image: url(/images/save.svg);
	cursor: pointer;
	float: right;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	position: absolute;
	left: 15px;
	top: 12px;
	opacity: 1;

	transition: opacity 0.15s 0s ease;
}

.header > #addingScriptSave:hover {
	opacity: 0.6;
}


#scriptsList .scripts-list_item {
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #e8e2eb;
}

#scriptsList .scripts-list_item.hide {
	display: none;
}

#scriptsList #tagsList {
	height: 24px;
	border-bottom: 1px solid #e8e2eb;
	overflow: hidden;
}

#scriptsList #tagsList .tag {
	display: block;
	font-size: 12px;
	height: 16px;
	float: left;
	padding: 2px 10px 2px 10px;
	background-color: #b7e0f5;
	line-height: 18px;
	margin-left: 5px;
	margin-top: 1px;
	border-radius: 10px;
	transition: opacity 0.15s 0s ease;
	user-select: none;
}

#scriptsList #tagsList .tag:hover {
	opacity: 0.7;
	cursor: pointer;
	transition: opacity 0.15s 0s ease;
}

#scriptsList #tagsList .tag.active {
	background-color: #dec7f5;
}

.scripts-list_item .title {
	display: block;
	height: 100%;
	width: calc(100% - 90px);
	float: left;
	padding-left: 13px;
}

#scriptsList #listContainer {
	overflow-y: auto;
	height: 371px;
}

#scriptsList .scripts-list_item:hover {
	background-color: #f8f4ff;
}

#scriptsList .scripts-list_item .delete {
	background-image: url(/images/close.svg);
	cursor: pointer;
	float: right;
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
	opacity: 1;
	margin: 12px 18px 0 0;

	transition: opacity 0.15s 0s ease;
}

#scriptsList .scripts-list_item .delete:hover {
	opacity: 0.6;
}

#scriptsList .scripts-list_item .copy {
	background-image: url(/images/copy.svg);
	cursor: pointer;
	float: right;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	opacity: 1;
	margin: 11px 18px 0 0;
	transition: opacity 0.15s 0s ease;
}

#scriptsList .scripts-list_item .copy:hover {
	opacity: 0.6;
}

#addingScript {
	position: absolute;
	top: 0;
	left: -500px;
	height: inherit;
	width: inherit;

	transition: left 0.2s 0s ease;
}

#addingScript.active {
	left: 0;

	webkit-transition: left 0.2s 0s ease;
}

#addingScript .textarea {
	width: 100%;
	height: calc(100% - 54px - 32px);
	resize: none;
	margin-top: -2px;
	padding: 5px;
	box-sizing: border-box;
	line-height: 16px;
	font-size: 14px
}

#addingScript .textarea:focus {
	outline: none;
}

#addingScript #scriptTag {
	height: 37px;
	width: 100%;
	font-size: 16px;
	line-height: 37px;
	outline: none;
	margin-top: -5px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	color: #004AFF;
}

.screen {
	height: 100%;
}


/* скролл */
::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px
}

::-webkit-scrollbar-track {
	background-color:#ecedee
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #000000;
}

::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

::-webkit-scrollbar{
	width: 4px;
}